// 项目全局变量


/* 
  侧边栏
*/
// 侧边栏 宽度
$base-menu-width:260px;
$base-menu-min-width:64px;
// 侧边栏 背景颜色
$base-menu-background: #001529;
// 侧边栏 logo
$base-menu-logo-height: 50px;
$base-menu-logo-title-fontSize: 16px;
/* 
  tabbar
*/
$base-tabbar-height:60px;